.pd-item-list-menu {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.pd-item-list-menu:hover {
    background-color: rgba(0,0,0,.05);
    transition: .2s;
}
.cor-letra {
    color: #1b1919;
    font-size: 15px;
    margin-left: 12px;
}
.active {
    background-color: rgba(0,0,0,.05);
    transition: .1s;
    font-weight: bolder;
}

.icon-list {
    height: 100%;
    width: 36px;
    padding-left: 21px;
}

.active {
    background-color: rgba(0,0,0,.05);
    transition: .1s;
    font-weight: bolder;
}
