:host {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

.container-atividade {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.card-atividade {
    width: 80%;
    max-width: 1500px;;
    min-height: 900px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.container-titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imagem {
    width: 50%;
    max-width: 870px;
    display: flex;
    align-content: center;
    flex-direction: row;
}

.image {
    margin: auto;
    width: 100%;
    max-width: 750px;
    max-height: 500px;
    margin-top: 0;
    display: flex;
}

.info {
    width: calc(50% - 30px);
    padding: 0 15px 15px 15px;
    color: #676a6c;
}

.container-aulas {
    width: 100%;
    margin-top: 30px;
}

.titulo {
    margin-bottom: 0px;
}

.nota > mat-icon {
    width: 18px;
    color: #ffb800;
}

.criador {
    margin-top: 0;
    font-size: 14px;
}

.descricao {
    padding-left: 13px;
    text-align: justify;
}

.item-aula {
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dedede;
    align-items: center;
    cursor: pointer;
}

.item-aula mat-icon {
    cursor: pointer;
}

::ng-deep .mat-expansion-panel-header {
    background-color: rgba(244, 244, 244, 0.43)!important;
    border-bottom: 1px solid #adadad;
}

@media screen and (max-width: 870px) {
    .card-atividade {
        width:calc(100% - 32px);
        margin-top: 0;
    }

    .container-titulo {
        flex-direction: column;
    }

    .imagem {
        width: 100%;
    }

    .info {
        width: calc(100% - 23px);
        padding: 0 15px 0 7px;
        margin-top: 30px;
    }
}