<div  class="container-atividade">
	<mat-card  class="card-atividade">
			<h3>Detalhes da Atividade</h3>
			<div class="container-titulo">
				<div class="imagem">
					<img class="image" src="{{atividade.imagem.src}}">
				</div>
				<div class="info">
					<h2 class="titulo">{{atividade.titulo}}</h2>
					<div class="nota">
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
					</div>
					<h4 class="criador">Criado por {{atividade.criador?.nome}}</h4>
					<hr>
					<h4 style="margin-bottom: 10px">Descrição da Atividade</h4>
					<div class="descricao">{{atividade.descricao}}</div>
				</div>
			</div>
			<div class="container-aulas" >
				<h3 style="border-bottom: 1px solid grey;">Capitulos</h3>
				<mat-accordion>
					<mat-expansion-panel *ngFor="let capitulo of atividade.capitulos">
						<mat-expansion-panel-header>
							<mat-panel-title> <h4 style="margin: 0">{{capitulo.nome}}</h4></mat-panel-title>
						</mat-expansion-panel-header>
						<div *ngFor="let aula of capitulo.aulas" class="item-aula" (click)="visualizarPlayer(aula)">
							<mat-icon svgIcon="reproduzir"></mat-icon>
							<label style="margin-left: 10px;">{{aula.nome}}</label>
						</div>	
					</mat-expansion-panel>
				</mat-accordion>
			</div>
	</mat-card>
</div>

<app-player 
	*ngIf="visualizandoPlayer"
	[aula]="aulaEmVisualizacao"
	(onFechar)="visualizandoPlayer=false">
</app-player>