<div  class="container-atividade">
	<mat-card  class="card-atividade">
			<h3>Detalhes da Atividade</h3>
			<div class="container-titulo">
				<div class="imagem">
					<img class="image" src="https://img.olhardigital.com.br/uploads/acervo_imagens/2019/03/r16x9/20190322051919_1200_675_-_codigo_de_programacao.jpg">
				</div>
				<div class="info">
					<h2 class="titulo">JavaScript Avançado</h2>
					<div class="nota">
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
						<mat-icon svgIcon="estrela"></mat-icon>
					</div>
					<h4 class="criador">Criado por Jonas Ceolin Alberton</h4>
					<hr>
					<h4 style="margin-bottom: 10px">Descrição da Atividade</h4>
					<div class="descricao">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
						when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						It has survived not only five centuries, but also the leap into electronic typesetting,
						remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
						sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
						Aldus PageMaker including versions of Lorem Ipsum.
					</div>
				</div>
			</div>
			<div class="container-aulas" >
				<h3 style="border-bottom: 1px solid grey;">Capitulos</h3>
				<mat-accordion>
					<mat-expansion-panel *ngFor="let capitulo of capitulos">
						<mat-expansion-panel-header>
							<mat-panel-title> <h4 style="margin: 0">{{capitulo.nome}}</h4></mat-panel-title>
						</mat-expansion-panel-header>
						<div *ngFor="let aula of capitulo.aulas" class="item-aula">
							<mat-icon svgIcon="reproduzir"></mat-icon>
							<label style="margin-left: 10px;">{{aula.nome}}</label>
						</div>	
					</mat-expansion-panel>
				</mat-accordion>
			</div>
	</mat-card>
</div>