.app-sidenav-container {
    position: absolute;
    top: 56px;
    width: 100%;
    bottom: 0;
    word-wrap: normal;
    overflow: hidden;
}

.app-sidenav{
    position: relative;
    float: left;
    display: block;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: .3s;
    box-shadow: -1px 0px 15px 0px grey;
}

.app-container{
    background: #f2f2f2;
    height: 100%;
    display: flex;
}

.app-sidenav-close {
    margin-left: -200px;
    transition: .3s ease-in-out;
}