<div class="toolbar-container primary">
    <div class="menu">
        <button mat-icon-button (click)="menuClicked()">
            <mat-icon svgIcon="menu"></mat-icon>
        </button>
        <h3 class="titulo-rota">{{titulo}}</h3>
    </div>

    <div class="pesquisa">
        <input class="input" placeholder="Pesquisar..">
    </div>

    <div class="exit">
        <label class="nome">Olá, {{nomeUsuario}}</label>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="button-exit">
            <mat-icon svgIcon="account"></mat-icon>
        </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="abrirConfiguracoes()">
                    <mat-icon svgIcon="person"></mat-icon>
                    <span>Configurações</span>
                </button>
                <button mat-menu-item (click)="doLogout()">
                    <mat-icon svgIcon="exit"></mat-icon>
                    <span>Sair</span>
                </button>
            </mat-menu>
    </div>
</div>