<div class="background">
	<div class="card-login">
		<label class="titulo">EDU</label>
		<label class="menssagem-fazer-login">Cadastre-se no EDU</label>
		<form (ngSubmit)="onSubmit()" #heroForm="ngForm" autocomplete="off" class="form">
			<mat-form-field >
				<input matInput color="primary" placeholder="Nome" name="nome" [(ngModel)]="usuario.nome" required type="text">
			</mat-form-field>

			<mat-form-field>
				<input matInput color="primary" placeholder="Email" name="email" [(ngModel)]="usuario.username" required type="email">
			</mat-form-field>
			
			<mat-form-field>
				<input matInput color="primary" placeholder="Senha" name="senha" [(ngModel)]="usuario.password" required type="password">
			</mat-form-field>

			<mat-form-field>
				<input matInput color="primary" placeholder="Confirmar senha" name="confirmacao"  required type="password">
			</mat-form-field>

			<mat-checkbox color="primary" class="checkbox" >Concordo com os <a target="blank" href="http://www.facebook.com.br">Termos</a></mat-checkbox>

			<button class="botao-entrar" mat-raised-button color="primary" type="submit">Cadastrar</button>
		</form>
	</div>
</div>