<div class="container-div">
		<div class="container-filtro">
			<h3>Minhas atividades</h3>
		</div>
		<mat-accordion>
			<mat-expansion-panel *ngFor="let atividade of atividades">
				<mat-expansion-panel-header>
					<mat-panel-title >
						<div class="titulo-card">
							<mat-icon svgIcon="video"></mat-icon>
							<h5 style="margin: 0; margin-left: 20px; width: 80px">{{atividade.titulo}}</h5>
							<h5 style="margin: 0; margin-left: 30px"> criada em {{atividade.dataCriacao | date:'dd/MM/yyyy'}}</h5>
						</div>
					</mat-panel-title>
				</mat-expansion-panel-header>
					
			</mat-expansion-panel>
		</mat-accordion>
	</div>




<button mat-fab color="primary" class="button-add" (click)="criarAtividade()">
	<mat-icon svgIcon="add"></mat-icon>
</button>