.tollbar {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow:0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
    z-index: 1;
    color: white;
    background-color: #ffb000;
} 

.button-logout {
    position: absolute;
    right: 10px;
}